<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>admin/loginPage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ViewAdmin</servlet-name>
        <jsp-file>admin/viewAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddSalaryController</servlet-name>
        <servlet-class>packageController.AddSalaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordController</servlet-name>
        <servlet-class>packageController.UpdatePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>packageController.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAdmin</servlet-name>
        <url-pattern>/ViewAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewSalary</servlet-name>
        <jsp-file>admin/viewSalary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSalary</servlet-name>
        <url-pattern>/ViewSalary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <jsp-file>admin/updatePassword.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSalary</servlet-name>
        <jsp-file>admin/addSalary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSalary</servlet-name>
        <url-pattern>/AddSalary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewPositionController</servlet-name>
        <servlet-class>packageController.ViewPositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <jsp-file>admin/addEmployee.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddPositionController</servlet-name>
        <servlet-class>packageController.AddPositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePositionController</servlet-name>
        <servlet-class>packageController.UpdatePositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDepartmentController</servlet-name>
        <servlet-class>packageController.UpdateDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDepartmentController</servlet-name>
        <servlet-class>packageController.ViewDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAdminController</servlet-name>
        <servlet-class>packageController.ViewAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPosition</servlet-name>
        <jsp-file>admin/addPosition.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPosition</servlet-name>
        <url-pattern>/AddPosition</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateDepartment</servlet-name>
        <jsp-file>admin/updateDepartment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDepartment</servlet-name>
        <url-pattern>/UpdateDepartment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePosition</servlet-name>
        <jsp-file>admin/updatePosition.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePosition</servlet-name>
        <url-pattern>/UpdatePosition</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddDepartment</servlet-name>
        <jsp-file>admin/addDepartment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDepartment</servlet-name>
        <url-pattern>/AddDepartment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewEmployeeDetail</servlet-name>
        <jsp-file>admin/viewEmployeeDetails.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewEmployeeDetail</servlet-name>
        <url-pattern>/ViewEmployeeDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewPosition</servlet-name>
        <jsp-file>admin/viewPosition.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPosition</servlet-name>
        <url-pattern>/ViewPosition</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewEmployee</servlet-name>
        <jsp-file>admin/viewEmployee.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewEmployee</servlet-name>
        <url-pattern>/ViewEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewDepartment</servlet-name>
        <jsp-file>admin/viewDepartment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewDepartment</servlet-name>
        <url-pattern>/ViewDepartment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <jsp-file>admin/homeAdminPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>packageController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeController</servlet-name>
        <servlet-class>packageController.AddEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployeeController</servlet-name>
        <servlet-class>packageController.ViewEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepartmentController</servlet-name>
        <servlet-class>packageController.AddDepartmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeController</servlet-name>
        <url-pattern>/AddEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployeeController</servlet-name>
        <url-pattern>/ViewEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepartmentController</servlet-name>
        <url-pattern>/AddDepartmentController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <servlet-class>packageController.UpdateEmployeeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <url-pattern>/UpdateEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPositionController</servlet-name>
        <url-pattern>/ViewPositionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPositionController</servlet-name>
        <url-pattern>/AddPositionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePositionController</servlet-name>
        <url-pattern>/UpdatePositionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDepartmentController</servlet-name>
        <url-pattern>/UpdateDepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDepartmentController</servlet-name>
        <url-pattern>/ViewDepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAdminController</servlet-name>
        <url-pattern>/ViewAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSalaryController</servlet-name>
        <url-pattern>/AddSalaryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordController</servlet-name>
        <url-pattern>/UpdatePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
